@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer class="footer text-center">
    <div class="container text-white">
        &copy; @DateTime.Now.Year - Wardrobe Inventory - Handcrafted by Andrew Martinez
    </div>
</footer>
